#main-container {

  font-family: monospace, "Lucida Console", sans-serif;

  .footer {
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    font-family: monospace;
    margin-top: 25px;
  }
}
