<div class="tnsa-employees">
  <div class="previous">
    <a routerLink="/">BACK TO MAIN PAGE</a>
  </div>

  <div class="content">
    <h2>TNSA EMPLOYEES AND AGENTS</h2>
    <table>
      <thead>
        <tr>
          <td>Firstname</td>
          <td>Lastname</td>
          <td>Access Level</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Michael</td>
          <td>SCOFIELD</td>
          <td>CONFIDENTIAL</td>
          <td>KILLED</td>
        </tr>
        <tr>
          <td>Didier</td>
          <td>Marchand</td>
          <td>AGENT</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>Loic</td>
          <td>Ortola</td>
          <td>AGENT</td>
          <td>TOP SECRET</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
