<div class="tnsa-employees">
  <div class="previous">
    <a routerLink="/">BACK TO MAIN PAGE</a>
  </div>

  <div class="content">
    <h2>TNSA EMPLOYEES AND AGENTS</h2>
    <table>
      <thead>
        <tr>
          <td>Firstname</td>
          <td>Lastname</td>
          <td>Username</td>
          <td>Access Level</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ getUserName(employee) | lowercase }}</td>
          <td>{{ ACCESSLEVEL[employee.accessLevel] }}</td>
          <td>{{ STATUS[employee.status] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
