.home {
  .logo {
    width: 100%;
    text-align: center;

    img {
      width: 200px;
    }
  }

  .title {
    font-size: 1.3em;
    text-align: center;
  }

  .content {
    padding: 20px;
  }
}
