<div class="content">
  <app-folder title="CUBA 1968" url="cuba-1968"></app-folder>
  <app-folder title="J.F. Kennedy" [forbidden]="true"></app-folder>
  <app-folder title="President election" [forbidden]="true"></app-folder>
  <app-folder title="E. Snowden" [forbidden]="true"></app-folder>
  <app-folder title="Area 51" url="area-51"></app-folder>
  <app-folder title="Kardashian Sextape" url="kardashian"></app-folder>
  <app-folder title="TNSA Employees" url="tnsa-employees"></app-folder>
  <app-folder title="McKinsey" [forbidden]="true"></app-folder>
</div>
